<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Category</h1>
<div>
    <button type="button" class="btn btn-outline-primary">
        <a th:href="@{/categories/create}">
            <i class="fa-solid fa-plus"></i> Add New Category</a>
    </button>
</div>
<div>
    <button type="button" class="btn btn-outline-primary">
        <a th:href="@{/products/list}">
            <i class="fa-solid fa-plus"></i> Prodcuts List</a>
    </button>
</div>
<table>
    <tr>
        <th>Mã Danh Mục</th>
        <th>Tên Danh Mục</th>
        <th colspan="2">Lựa Chọn</th>
    </tr>
    <tr th:each="category , loop : ${categories}">
        <td th:text="${loop.count}"></td>
        <td th:text="${category.name}"></td>
        <td><a th:href="@{/categories/edit/__${category.id}__}">Sửa</a></td>
        <td><a th:href="@{/categories/delete/__${category.id}__}">XÓA</a></td>
    </tr>
</table>
</body>
</html>