<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Sửa Sản Phẩm</h1>
<a th:href="@{/products/list}">Danh Mục Sản Phẩm</a>
<form method="post" th:object="${product}" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" placeholder="Tên SP" th:field="*{name}"></td>

        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" placeholder="Giá SP" th:field="*{price}"></td>

        </tr>
        <tr>
            <td>Des</td>
            <td><input type="text" placeholder="Mô Tả SP" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Cate</td>
            <td><label>:
                <select th:field="*{category}">
                    <option th:each="c : ${categories}" th:value="${c.getId()}" th:text="${c.getName()}"></option>
                </select>
            </label></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="file" th:field="*{image}"></td>
        </tr>
    </table>

    <div>
        <button>Sửa</button>
    </div>
</form>
</body>
</html>